<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <h2>Look Up Your Local Forecast</h2>
      <div>
        <%= form_tag index_path do %>
          <%= text_field_tag :zipcode, nil, placeholder: "zipcode", class:"form-control" %><br/>
          <%= submit_tag "Check Weather", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <% if @location != nil && @location != "" && (@error =="" || @error == nil) %>
        <h2>Forecast for <%= "#{@location}, #{@state} #{@zipcode}" %></h2>
        <div class="row">
          <div class="col-md-7">
            <em>What's the weather like?</em><br />
            Temperature: <%= @temp%>° F<br />
            Cloud Cover: <%= @cloudiness %>%<br />
            Wind: <%= @windiness %> mph<br />
          </div>
          <div class="col-md-5">
            <p>
              <%= @weather_words%>
              <img src="http://openweathermap.org/img/w/<%= @weather_icon%>.png">
            </p>
          </div>
        </div> 
      <% elsif @status =="404" %>
        Error: <%= @error %>. Please Try Again.<br />
      <% else %>
        Enter a zip code to check the weather!<br />
      <% end %>
    </div>
  </div>
</div>